.backup
.helpers
.media
.output
*.vsix
.samples
.study
.test
.vscode/*
.spellignore
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
/node_modules/
.npm
.node_repl_history
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/temp/
lib/bin/node-spellchecker/build/
lib/bin/node-spellchecker/vendor/hunspell_dictionaries/
/NOTES.md
