.backup/**
.helpers/**
.media/**
.output/**
.samples/**
.research/**
.test/**
.vscode/**
.github/**
.mypy_cache/**
.gitignore
.spellignore
.eslintrc.json
lib/bin/node-spellchecker/**
jsconfig.json
GPATH
GRTAGS
GTAGS
makefile
TODO