name: Update node-spellchecker binaries
on:
  push:
    paths:
      - '.github/**'
      - 'lib/bin/node-spellchecker/**'
jobs:
  windows-binaries:
    name: Windows Binaries
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - name: Extract branch name
        shell: bash
        run: echo echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
        working-directory: lib/bin/node-spellchecker
      - run: ./build-windows.cmd
        shell: cmd
        working-directory: lib/bin/node-spellchecker
      - run: git pull --no-edit
        shell: bash
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: "*.node"
          commit_message: Automatic Build of Windows Binaries

  linux-binaries-debian:
    name: Linux Binaries (Debian)
    # git is safer if the jobs are sequential
    needs: windows-binaries
    runs-on: ubuntu-22.04
    steps:
        # required for cross-compilation of x64 and ia32
      - run: sudo apt-get install gcc-multilib g++-multilib
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
        working-directory: lib/bin/node-spellchecker
      - run: ./build-linux.sh
        working-directory: lib/bin/node-spellchecker
      - run: git pull --no-edit
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: "*.node"
          commit_message: Automatic Build of Linux Binaries

  # linux-rhel-binaries: # Not supported for now
  #   name: Linux Binaries (RHEL)

  mac-binaries-intel:
    name: MacOS Binaries (Intel)
    # git is safer if the jobs are sequential
    needs: linux-binaries-debian
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
        working-directory: lib/bin/node-spellchecker
      - run: ./build-macos-intel.sh
        working-directory: lib/bin/node-spellchecker
      - run: git pull --no-edit
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: "*.node"
          commit_message: Automatic Build of Mac Binaries

  # macos-apple-binaries: # Not supported for now
  #   name: Mac OS (Apple) Binaries

  mac-binaries-arm:
    name: MacOS Binaries (ARM)
    # git is safer if the jobs are sequential
    needs: mac-binaries-intel
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
        working-directory: lib/bin/node-spellchecker
      - run: ./build-macos-arm.sh
        working-directory: lib/bin/node-spellchecker
      - run: git pull --no-edit
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: "*.node"
          commit_message: Automatic Build of Mac Binaries

